body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1.1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: pink;
    font-size: 20px;
    display: grid;
    align-content: start;
    gap: 50px;
    padding: 30px;
    color: white;
    font-weight: bold;
    box-shadow: 5px 0px 10px -10px black;
    z-index: 1;
}

.pagelabel {
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    font-size: 40px;
    gap: 15px;
}

.navigation, .help {
    font-size: 25px;
}

.navigation {
    display: grid;
    gap: 15px;
}

.navoption {
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
    gap: 15px;
}

.help {
    display: grid;
    gap: 15px;
}

.search {
    padding: 20px;
    padding-top: 10px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 5px 10px -10px rgb(0, 0, 0);
    gap: 20px;
    z-index: 1;
}

.uppersearch {
    display: grid;
    grid-template-columns: auto 2fr 1fr auto auto;
    gap: 20px;
    align-items: center;
}

.lowersearch {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 20px;
    align-items: center;
}

button {
    border: none;
    padding: 15px;
    width: 120px;
    border-radius: 25px;
    cursor: pointer;
    background-color: pink;
    font-size: 1em;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: rgb(255, 164, 180);
}

.noti {
    justify-self: end;
}

#search {
    height: 30px;
    border-radius: 25px;
    border: none;
    background-color: rgb(232, 232, 232);
    padding: 10px;
}

.main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(232, 232, 232);
    padding: 30px;
    gap: 20px;
}

.header {
    font-size: 20px;
    font-weight: bold;
}

.cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: 0fr auto 1fr auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    height: 235px;
    border-left: 9px solid #008080;
    z-index: 1;
}

.card > div:last-child {
    justify-self: end;
    align-self: end;
}

.extras {
    display: grid;
    align-content: start;
    gap: 20px;
}

.announcecard {
    background: white;
    padding: 25px;
    border-radius: 8px;
    margin-top: 10px;
}

.text {
    color: rgb(109, 109, 109);
    padding-top: 5px;
}

.trendcard {
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    padding: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.trenditem {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    justify-self: center;
}

.icon {
    width: 30px;
    height: auto;
    justify-self: center;
}

.cardoptions {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

strong {
    font-size: 22px;
}

.Name {
    font-size: 20px;
}

.Name > div:last-child {
    font-size: 30px;
    font-weight: bold;
}

.avatar {
    width: 50px;
    height: auto;
}

.loweravatar {
    width: 75px;
    height: auto;
}

.credit {
    color: rgb(141, 141, 141);
    padding-left: 15px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
}

.footer > :nth-child(1) {
    background-color: pink;
}

.empty {
    background-color: rgb(232, 232, 232);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}